.div-principal {
  height: 100vh;
  width: 100vw;
}

.div-menu {
  background: linear-gradient(#1D3767, #01C5F1);
  height: 100vh;
  width: 18%;
}

.div-dashboard {
  height: 100vh;
  width: 82%;
  background-color: whitesmoke;
}

.div-header {
  background: azure;
  height: 7vh;
  width: 82%;
  position: absolute;
  right: 0;
}

.dashboard-logo {
  color: white;
  padding: 0.5rem;

  &:hover {
    background: #1D3767;
  }
}

.dashboard-button {
  color: white;
  font-weight: 10rem;
  padding: 1rem;
  position: relative;

  &:hover {
    background: #1D3767;
  }
}

.trasnsfert-stock {
  color: white;
  font-weight: 10rem;
  padding: 1rem;
  position: relative;

  &:hover {
    background: #1D3767;
  }
}

.div-content {
  background: white;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 93vh;
  width: 82%;
}
