<div class="div-principal d-flex">
  <div class="flex align-items-center div-menu">
    <div class="dashboard-logo text-center">
      <img width="110" src="../assets/logo.png" alt="">
    </div>
    <div class="dashboard-button">
      <span class="fa fa-dashboard"></span> Dashbord
    </div>
    <div class="trasnsfert-stock">
      <span class="fa fa-exchange text-center"></span> Transfert Stock <span
        class="fa fa-angle-left pull-right text-center"></span>
    </div>
    <div class="trasnsfert-stock">
      <span class="fa fa-list text-center"></span> Historiques Transfert
    </div>
    <div class="trasnsfert-stock">
      <span class="fa fa-plus text-center"></span> Nouveau Transfert
    </div>

    <div class="trasnsfert-stock">
      <span class="fa fa-cogs text-center"></span> Transfert Settings
    </div>
  </div>
  <div class="flex align-items-center div-dashboard">
    <div class="div-header">
    </div>
    <div class="div-content">
      <app-tabledata></app-tabledata>
    </div>
  </div>
</div>
