<div class="div-principal flex align-items-center">
  <div class="div-header d-flex">
    <div class="div-bouton-header d-flex">
      <button class="fa fa-download style-bouton"></button><button class="fa fa-download style-bouton"></button><button
        class="fa fa-refresh style-bouton"></button><button class="fa fa-print style-bouton"></button>
    </div>

    <div class="div-input-text d-flex input-group-append">
      <input type="text" name="search" class="form-control"><button
        class="fa fa-search input-group-text button-search"></button>
    </div>

    <div class="div-input-select d-flex input-group-append">
      <select class="form-control" name="select-input" id="">
        <option value="" selected></option>
        <option value="1">premier</option>
        <option value="2">deuxieme</option>
        <option value="3">troixieme</option>
        <option value="4">quatrieme</option>
      </select>
      <button class="input-group-text button-search">Initializer le
        Filtrage
      </button>
    </div>
  </div>
  <div class="div-table">
    <table class="table table-striped table-condensed">
      <tr>
        <th>Premier</th>
        <th>Deuxieme</th>
        <th>Troixieme</th>
        <th>Quatrieme</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td><button class="btn btn-danger fa fa-remove"></button><button
            class="btn btn-info fa fa-edit"></button><button class="btn btn-primary fa fa-list"></button> <button
            class="btn btn-defautl fa fa-print"></button>
        </td>
      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td><button class="btn btn-danger fa fa-remove"></button><button
            class="btn btn-info fa fa-edit"></button><button class="btn btn-primary fa fa-list"></button> <button
            class="btn btn-defautl fa fa-print"></button>
        </td>
      </tr>
    </table>
  </div>

  <div class="div-footer d-flex">
    <div class="div-bouton-footer d-flex privious">
      <button class="btn btn-primary"> « </button>
      <!--button class="btn btn-primary">Previous</button-->
    </div>

    <div class="div-input-select d-flex input-group-append">
      <span class="input-group-text button-search">Affichage
      </span>
      <select class="form-control" name="select-affichage" id="">
        <option value="" selected></option>
        <option value="1">1</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
      <button class="input-group-text button-search">Entree
      </button>
    </div>


    <div class="div-footer-label d-flex input-group-append text-center">
      <label class="search-text">Page
      </label>
      <label class="search-text">1
      </label>
      <label class="search-text"> de 12
      </label>
    </div>

    <div class="div-bouton-footer d-flex next">
      <!--button class="btn btn-primary">Next</button--> <button class="btn btn-primary"> » </button>
    </div>
  </div>
</div>
